*{
    padding : 0;
    margin : 0;
    color : white;
}

#navBar{
    background-color : #0f1111;
    height : 60px;
    
}
#logo{
    margin-right: 200px;
    color : orange;
    font-size: 25px;
}
#account{
    margin-right : 200px
}
#cart{
    margin-right : 200px;
}
#contact{
    margin-right : 200px;
}

#searchBar{
    color : black;
}
#search{
    background-color : orange
}